# Dependencias
node_modules
.pnp
.pnp.js

# Build
dist
dist-ssr

# Variables de entorno (NUNCA subir las claves reales)
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor / SO
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vercel
.vercel
.env*
